.product-card{
    width: 100%;
    max-width: 300px;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin: 0 auto ;
    position:relative; 
}

.card__image{
    width: 100%;
}

.card__infos{
    padding: 20px;
    border-top: 1px solid #ddd;
}

.card__price{
    font-size: 30px;
    font-weight: 400;
    display: block;
    margin-bottom: 10px;

}

.card__title{
    font-size: 15px;
    color: black;
    line-height: 1.5;
    font-weight: 500;
}

.button__add-card{
    position: absolute;
    top: 0%;
    right: 0;
    width: 40px;
    height: 40px;
    margin: 12px 15px ;
    display: none;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 50px;
    background-color: rgb(174, 193, 209);
    font-size: 1.5rem;
    cursor: pointer;
}

.product-card:hover{
    box-shadow: 0 2px 10px #2b2727;


}
.product-card:hover .button__add-card{
    display: flex;
}
